@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
  min-height: 100vh;
}

/* Main Game Container */
.game-container {
  width: 1200px;
  height: 800px;
  border-radius: 15px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 20px;
}

/* Cards Container */
.cards-container {
  width: 80%;
  height: 600px;
  margin-top: 50px;
  position: relative;
}

/* Card Styles */
.card {
  background-size: cover;
  background-position: center;
  cursor: pointer;
  width: 80px; /* Adjusted size */
  height: 80px; /* Adjusted size */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}

/* Bucket and Additional Slots */
.bucket-container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding-top: 20px;
}

.bucket,
.slots {
  width: 45%;
  height: 80px; /* Adjusted size */
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
}

.bucket h4,
.slots h4 {
  position: relative;
  top: -50px;
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
}

.control-button {
  padding: 3px 5px;
  background-color:rgba(0, 0, 0, 0.2);
  color: white;
  font-size: medium;
  margin: 5px;
}
